<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%- partial('_partial/busuanzi') %>
            </div>
            <div class="col-sm-12">
                <span>Copyright &copy; <%= theme.since %>
                </span> |
                <span>
                    Powered by <a href="//hexo.io" class="copyright-links" target="_blank" rel="nofollow">Hexo</a>
                </span> |
                <span>
                    Theme by <a href="//github.com/shenliyang/hexo-theme-snippet.git" class="copyright-links" target="_blank" rel="nofollow">Snippet</a>
                </span> |
                <span>
                    <a href="//www.beian.miit.gov.cn" class="copyright-links" target="_blank" rel="nofollow">豫ICP备18000218号</a>
                </span>
                <span>
                    <a href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011202011685" class="display:inline-block;text-decoration:none;height:20px;line-height:20px;" target="_blank" rel="nofollow">
                        <img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备 31011202011685号</p>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
